body {
  color: #fff;
  font-family: "Nunito Semibold";
  text-align: center;
}

#content {
  /* Mise en place d'une grille */
  display: grid;

  /* Mise en place de la largeur des colonnes */
  /* grid-template-columns: 30% 20% 50%; */
  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: repeat(3, 1fr);

  /* Mise en place de la hauteur des lignes */
  /* grid-auto-rows: minmax(200px, auto); */
  grid-template-rows: repeat(3, minmax(200px, auto));

  /* Espacement entre les lignes et les colonnes */
  gap: 10px;

  max-width: 960px;
  margin: 0 auto;
}

#content div {
  background: #3bbced;
  padding: 30px;
}

#content div:nth-child(even) {
  background-color: #777;
}
